external_components:
  - source:
      type: git
      url: https://github.com/tjhowse/esphome
      ref: UARTDebugger_add_insert_byte
    components: [ uart_proxy, modbus ]
    refresh: 0s

substitutions:
  bt_bluetti_mac: "<snip>"
  friendly_name: bluetti_eb3a

esphome:
  name: bluetti-eb3a
  friendly_name: "${friendly_name}"
  on_boot:
    priority: -100.0
    then:
      - lambda: id(bluetti_modbus).disable_loop();


esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:
  level: INFO

ota:
  - platform: esphome
    password: "<snip>"

wifi:
  ssid: !secret wifi_ssid_2
  password: !secret wifi_password_2
  enable_on_boot: False
  reboot_timeout: 0s # Don't reboot if no wifi.

mqtt:
  broker: !secret mqtt_hostname
  username: !secret mqtt_username
  password: !secret mqtt_password

esp32_ble_tracker:
  scan_parameters:
    continuous: true

interval:
  - interval: 1s
    then:
      - if:
          condition:
            lambda: |-
              return id(bt_bluetti).connected();
          then:
            - light.turn_on:
                id: status_led
                red: 0%
                green: 0%
                blue: 100%
          else:
            - light.turn_on:
                id: status_led
                red: 100%
                green: 0%
                blue: 0%
  - interval: 1min
    then:
      # Ensure both of the power outputs are always on.
      - switch.turn_on: dc_output
      - switch.turn_on: ac_output

light:
  - platform: esp32_rmt_led_strip
    chipset: WS2812
    pin: 35
    num_leds: 1
    rgb_order: GRB
    id: status_led
    name: ${friendly_name} LED
    internal: True

ble_client:
  - mac_address: ${bt_bluetti_mac}
    id: bt_bluetti
    on_connect:
      - esp32_ble_tracker.stop_scan:
      - lambda: id(bluetti_modbus).enable_loop_soon_any_context();
      - wifi.enable:
    on_disconnect:
      - wifi.disable:
      - esp32_ble_tracker.start_scan:
          continuous: true
      - lambda: id(bluetti_modbus).disable_loop();

# uart_proxy:
#   id: ble_uart

uart:
  id: ble_uart
  baud_rate: 115200
  tx_pin: 1
  rx_pin: 2
  debug:
    direction: BOTH
    sequence:
      - lambda: UARTDebug::log_string(direction, bytes);
      - if:
          condition:
            lambda: 'return direction == UART_DIRECTION_TX;'
          then:
            - ble_client.ble_write:
                id: bt_bluetti
                service_uuid: ff00
                characteristic_uuid: ff02
                value: !lambda |-
                    return bytes;

modbus:
  id: bluetti_modbus
  uart_id: ble_uart

modbus_controller:
  id: device_addr_1
  address: 1
  modbus_id: bluetti_modbus
  setup_priority: -10
  update_interval: 20s

sensor:
  - platform: ble_client
    update_interval: 1s
    ble_client_id: bt_bluetti
    id: bluetti_read
    name: ${friendly_name} Raw Value
    internal: True
    type: characteristic
    service_uuid: ff00
    characteristic_uuid: FF01
    notify: true
    filters:
      - filter_out: nan
    lambda: |-
      for (size_t i = 0; i < x.size(); i++) {
        ESP_LOGD("ble_client_lambda", "  x[%d]: 0x%02X", i, x[i]);
        // Inject the received bytes directly into the modbus rx buffer.
        id(bluetti_modbus).inject_modbus_byte(x[i]);
      }
      return NAN;


  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "Serial Number"
    id: serial_number
    register_type: holding
    address: 17
    register_count: 4
    response_size: 8
    value_type: U_QWORD_R

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "ARM Version"
    id: arm_version
    register_type: holding
    address: 23
    register_count: 2
    value_type: U_DWORD
    filters:
      - multiply: 0.01
    # Version value scaled by 0.01; no unit to avoid Volt confusion

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "AC Output Power"
    id: ac_output_power
    register_type: holding
    address: 38
    value_type: U_WORD
    unit_of_measurement: "W"

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "DC Output Power"
    id: dc_output_power
    register_type: holding
    address: 39
    value_type: U_WORD
    unit_of_measurement: "W"

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "DSP Version"
    id: dsp_version
    register_type: holding
    address: 25
    register_count: 2
    value_type: U_DWORD
    filters:
      - multiply: 0.01
    # Version value scaled by 0.01; no unit to avoid Volt confusion

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "DC Input Power"
    id: dc_input_power
    register_type: holding
    address: 36
    value_type: U_WORD
    unit_of_measurement: "W"

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "AC Input Power"
    id: ac_input_power
    register_type: holding
    address: 37
    value_type: U_WORD
    unit_of_measurement: "W"

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "Total Battery Percent"
    id: total_battery_percent
    register_type: holding
    address: 43
    value_type: U_WORD
    unit_of_measurement: "%"

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "AC Input Voltage"
    id: ac_input_voltage
    register_type: holding
    address: 77
    value_type: U_WORD
    unit_of_measurement: "V"
    accuracy_decimals: 1
    filters:
      - multiply: 0.1

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "Internal DC Input Voltage"
    id: internal_dc_input_voltage
    register_type: holding
    address: 86
    value_type: U_WORD
    unit_of_measurement: "V"
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "Pack Num Max"
    id: pack_num_max
    register_type: holding
    address: 91
    value_type: U_WORD

text_sensor:
  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "Device Type"
    id: device_type
    register_type: holding
    address: 10
    register_count: 6
    response_size: 12

switch:
  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "AC Output"
    id: ac_output
    register_type: holding
    address: 3007

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "DC Output"
    id: dc_output
    register_type: holding
    address: 3008

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "Power Off"
    id: power_off
    register_type: holding
    address: 3060

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "ECO Mode"
    id: eco_mode
    register_type: holding
    address: 3063

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "Power Lifting"
    id: power_lifting
    register_type: holding
    address: 3066

select:
  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "LED Mode"
    id: led_mode
    optionsmap:
      "LOW": 1
      "HIGH": 2
      "SOS": 3
      "OFF": 4
    address: 3034

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "ECO Shutdown"
    id: eco_shutdown
    optionsmap:
      "ONE_HOUR": 1
      "TWO_HOURS": 2
      "THREE_HOURS": 3
      "FOUR_HOURS": 4
    address: 3064

  - platform: modbus_controller
    modbus_controller_id: device_addr_1
    name: "Charging Mode"
    id: charging_mode
    optionsmap:
      "STANDARD": 0
      "SILENT": 1
      "TURBO": 2
    address: 3065
